# dependencies
node_modules
.pnp
.pnp.js

# build output
dist/

# prisma
prisma/migrations/

# environment
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo